.about-section {
  margin-top: 50px;
}

.about-Img-box {
  display: flex;
  justify-content: center;
  align-items: center;
}
.myImgBox {
  width: 500px;
  height: 500px;
  border-radius: 420px;
  border-top: 12px solid transparent;
  border-left: 12px solid transparent;
  border-right: 12px solid #fe9d00;
  border-bottom: 12px solid #ff9d00;
  padding: 10px;
  -webkit-border-radius: 420px;
  -moz-border-radius: 420px;
  -ms-border-radius: 420px;
  -o-border-radius: 420px;
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
}
.myImgBox:hover {
  transform: rotate(-5deg);
  border-right-color: #3cb9d1;
  border-bottom-color: #3cb9d1;
  transition: 1s;
  -webkit-transform: rotate(-5deg);
  -moz-transform: rotate(-5deg);
  -ms-transform: rotate(-5deg);
  -o-transform: rotate(-5deg);
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
}
.myImgBox:hover img {
  transform: rotate(5deg);
  transition: 1s;
  -webkit-transform: rotate(5deg);
  -moz-transform: rotate(5deg);
  -ms-transform: rotate(5deg);
  -o-transform: rotate(5deg);
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
}
.myImgBox img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  object-fit: cover;
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
}
.about-para {
  padding: 20px 0;
  line-height: 1.8em;
  word-spacing: 5px;
}
.about-text {
  padding: 0 80px 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.about-text h2 {
  font-size: 40px;
  color: #000080;
  margin-bottom: 20px;
}
.desing-text {
  background-color: #3cb9d1;
  padding: 15px 20px;
  color: #fff;
  font-weight: 700;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
  font-size: 20px;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}
.desing-text:hover {
  background-color: #ff9d00;
  transition: 0.5s;
}
@media (max-width: 600px) {
  .myImgBox {
    display: none;
  }
  .about-text {
    padding: 0 30px;
  }
  .about-text h1 {
    text-align: center;
  }

  .about-para {
    padding: 20px 0;
    line-height: 1.5em;
    word-spacing: 3px;
    text-align: justify;
  }
  .desing-text {
    padding: 10px 15px;
    font-size: 16px;
  }
}
@media (min-width: 601px) and (max-width: 992px) {
  .myImgBox {
    width: 400px;
    height: 400px;
  }
  .about-text {
    padding: 0 30px;
  }
  .about-text h1 {
    text-align: center;
  }

  .about-para {
    padding: 20px 0;
    line-height: 1.6em;
    word-spacing: 4px;
    text-align: justify;
  }
  .desing-text {
    padding: 12px 18px;
    font-size: 18px;
    width: fit-content;
  }
}
