.slick-slide > div {
  margin: 0 10px;
}
.card:hover {
  cursor: pointer;
}
.card {
  height: auto;
}
.card img {
  height: 350px;
  width: 100%;
  object-fit: cover;
}
.services-img {
  height: 100%;
  padding: 15% 10%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.services-img > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50% 0 0 50%;
  -webkit-border-radius: 50% 0 0 50%;
  -moz-border-radius: 50% 0 0 50%;
  -ms-border-radius: 50% 0 0 50%;
  -o-border-radius: 50% 0 0 50%;
}

/* .team-card {
  background-color: antiquewhite;
} */
@media (max-width: 768px) {
  .services-img {
    padding: 15% 5%;
  }

  .team-card {
    padding: 25px;
  }
}
@media (max-width: 576px) {
  .services-img {
    padding: 15% 0;
  }
  .team-card {
    padding: 15px;
  }
}
