.contact-form-img {
  background-image: url("../assets/aboutImg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: cover;
  border-radius: 0 1.5rem 1.5rem 0;
  -webkit-border-radius: 0 1.5rem 1.5rem 0;
  -moz-border-radius: 0 1.5rem 1.5rem 0;
  -ms-border-radius: 0 1.5rem 1.5rem 0;
  -o-border-radius: 0 1.5rem 1.5rem 0;
  box-shadow: 3px 0px 8px 0px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 3px 0px 8px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 3px 0px 8px 0px rgba(0, 0, 0, 0.3);
}
.contact-box {
  margin-top: 6rem;
  margin-bottom: 6rem;
  height: auto;
}
.contact-form {
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.3);
  background-color: #f2f3f4;
  border-radius: 1.5rem 0 0 1.5rem;
  -webkit-border-radius: 1.5rem 0 0 1.5rem;
  -moz-border-radius: 1.5rem 0 0 1.5rem;
  -ms-border-radius: 1.5rem 0 0 1.5rem;
  -o-border-radius: 1.5rem 0 0 1.5rem;
}
.contact-btn {
  margin-top: 15px;
  background: #3cb9d1;
  border-radius: 999px;
  box-shadow: #3cb9d1 0 10px 10px -10px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  font-family:
    Inter,
    Helvetica,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    NotoColorEmoji,
    "Noto Color Emoji",
    "Segoe UI Symbol",
    "Android Emoji",
    EmojiSymbols,
    -apple-system,
    system-ui,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    "Noto Sans",
    sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 26px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 18px;
  width: 25%;
  border: 0;
  -webkit-border-radius: 999px;
  -moz-border-radius: 999px;
  -ms-border-radius: 999px;
  -o-border-radius: 999px;
}
.contact-btn:hover {
  background: #ff9d00;
  box-shadow: #ff9d00 0 12px 12px -10px;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}
@media (max-width: 768px) {
  .contact-form-img {
    display: none;
  }
  .contact-box {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .contact-form {
    border-radius: 1.5rem;
    -webkit-border-radius: 1.5rem;
    -moz-border-radius: 1.5rem;
    -ms-border-radius: 1.5rem;
    -o-border-radius: 1.5rem;
  }
  .contact-btn {
    width: 100%;
  }
  .contact-page {
    padding: 0 1.5rem;
  }
}
