.contact-details {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.contact-info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 2px solid #3cb9d1;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  padding: 10px 30px;
  width: 40%;
}
.contact-info > p {
  color: #7d7d7d;
}
.social-Icons {
  margin-top: 6rem;
  margin-bottom: 6rem;
  background-color: #7fb3c1;
  display: flex;
  border-radius: 580px;
  justify-content: space-between;
  padding: 70px 100px;
  -webkit-border-radius: 580px;
  -moz-border-radius: 580px;
  -ms-border-radius: 580px;
  -o-border-radius: 580px;
  height: 45vh;
}
.icons-dev {
  text-align: center;
}
.social-Icons:hover {
  background-color: #3cb9d1;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.contactimg-box {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 400px;
  z-index: 1;
}
.contact-img {
  margin-bottom: 130px;
  width: 350px;
  /* background-color: blue; */
  height: 360px;
  margin-bottom: 140px;
  position: relative;
  animation: glide 2s ease-in-out alternate infinite;
}
.contact-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.iconLogoStye {
  margin: 5px;
  color: #fff;
  font-size: 50px !important;
}
.iconLogoStye:hover {
  color: #ff9d00;
  transition: 0.5s;
}

@keyframes glide {
  from {
    left: 0px;
    top: 0px;
  }

  to {
    left: 0px;
    top: 20px;
  }
}

@media screen and (max-width: 768px) {
  .contact-info {
    width: 100%;
  }
  .contact-details {
    flex-direction: column;
  }
  .social-Icons {
    padding: 20px;
    height: 100%;
  }
  .contactimg-box {
    display: none;
  }
  iframe {
    margin-top: 30px;
    height: 300px;
  }
}
