.services-card-text {
  color: #1a4d6d;
  font-weight: 700;
  font-size: 18px;
  display: flex;
  flex-direction: flex;
  justify-content: center;
  align-items: center;
  width: 190px;
  height: 120px;
  border-radius: 10px;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.services-card-text:hover {
  color: #fff;
  transform: translateY(-10px);
  transition: 0.5s;
  background-color: #fe9d00;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
.services-Img-box {
  /* background-color: green; */
  display: flex;

  justify-content: center;
  align-items: center;
}
.service-img {
  width: 420px;
  height: 420px;
  border-radius: 420px;
  border-top: 8px solid transparent;
  border-left: 8px solid transparent;
  border-right: 8px solid #fe9d00;
  border-bottom: 8px solid #ff9d00;
  padding: 8px;
  -webkit-border-radius: 420px;
  -moz-border-radius: 420px;
  -ms-border-radius: 420px;
  -o-border-radius: 420px;
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
}
.service-img:hover {
  transform: rotate(-90deg);
  border-right-color: #3cb9d1;
  border-bottom-color: #3cb9d1;
  transition: 1s;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
}
.service-img:hover img {
  transform: rotate(90deg);
  transition: 1s;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
}
.service-img img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
}
