.card-text {
  color: #6c6d57;
}
.services-container {
  margin-top: 8rem;
}
.servicesBtn {
  display: block;
  margin: 0 auto;
  background: #3cb9d1;
  border-radius: 999px;
  box-shadow: #3cb9d1 0 10px 20px -10px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  font-family:
    Inter,
    Helvetica,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    NotoColorEmoji,
    "Noto Color Emoji",
    "Segoe UI Symbol",
    "Android Emoji",
    EmojiSymbols,
    -apple-system,
    system-ui,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    "Noto Sans",
    sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 26px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 12px;
  width: 20%;
  border: 0;
  -webkit-border-radius: 999px;
  -moz-border-radius: 999px;
  -ms-border-radius: 999px;
  -o-border-radius: 999px;
}
.servicesBtn:hover {
  background-color: #ff9d00;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.card {
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
}
.mycard {
  min-height: 14rem;
}
@media (max-width: 768px) {
  .servicesBtn {
    width: 50%;
  }
  .services-card {
    padding: 25px;
  }
  .mycard {
    height: auto;
  }
  .services-container {
    margin-top: 2rem;
  }
}
@media (max-width: 576px) {
  .servicesBtn {
    width: 100%;
  }
  .services-card {
    padding: 25px;
  }
  .mycard {
    height: auto;
  }
  .services-container {
    margin-top: 2rem;
  }
}
@media (max-width: 320px) {
  .servicesBtn {
    width: 100%;
  }
  .services-card {
    padding: 25px;
  }
  .mycard {
    height: auto;
  }
  .services-container {
    margin-top: 2rem;
  }
}
@media (max-width: 992px) {
  .servicesBtn {
    width: 50%;
  }
  .services-card {
    padding: 25px;
  }
  .mycard {
    height: auto;
  }
  .services-container {
    margin-top: 2rem;
  }
}
